%section.grid-items
  %h3.about About me
  %img{alt: "Maddy and I", src: "/images/IanMaddy.png", width: "150", class: "bio"}
  %p.about= "I am currently a Web Strategy Coordinator at the #{link_to 'David Suzuki Foundation', 'http://davidsuzuki.org' }. I support the technical implementation and strategic engagement of their online community with the belief that the digital world has tremendous potential to amplify the work they do as an organization.".html_safe
  %p.about= "I recently graduated from an online Ruby on Rails bootcamp called #{link_to 'Tealeaf Academy', "http://gotealeaf.com"} and am looking to continue working with both the framework and Ruby in General. I've created this blog to document what i've learned and hopefully share it with others who want to do great work.".html_safe
.grid-items
  %h3.blogs Recent Blogs
  - @entries.each do |entry|
    %a.grid-item{href: entry_path(entry)}
      %h1 #{entry.title}
      %p #{entry.excerpt}