!!! 5
%html(lang="en-US")
  %head
    %title Ian Knauer's Development Blog
    = render 'shared/metadata'
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
  %body
    %content
      %header
        = render 'shared/header'
        = render 'layouts/messages'
      %section.content.clearfix
        = yield
      %footer
        = render 'shared/footer'